<div class="simple_content">
<h2>修改订单状态</h2>
<br />

<%= render 'filtered_orders' %>

<br />
<%= link_to '查看', @order %> |
<%= link_to '返回到待处理订单列表', orders_path %> |
<%= link_to '返回到订单搜索','/business/order_search_form' %>
</div>
