<div class="simple_content">
<fieldset>
	<legend align=center>
		您的订货清单
	</legend>
	<%= render 'cart_list' %>
</fieldset>



<fieldset>
	<legend align=center>
		您的收货地址
	</legend>
	<%= render 'form' %>
</fieldset>

</div>
