<div class="simple_content">
<h2>服务内容</h2>

<br />
<p style="color:grey; font-size:18px;line-height:24px;">公司名称：Europe Time GmbH</p><br />

<p style="color:grey; font-size:18px;line-height:24px;">地址：Liebig Str. 2-20 22113 Hamburg</p><br />

<p style="color:grey; font-size:18px;line-height:24px;">电话：0049-40   </p><br />

<p style="color:grey; font-size:18px;line-height:24px;">传真：0049-40    </p><br />

<p style="color:grey; font-size:18px;line-height:24px;">电子邮件：    </p><br />


</div>
