<div class="simple_content">
<h2>公司信息</h2>

<br />
<p style="color:grey; font-size:18px;line-height:24px;">Europe Time GmbH公司位于德国汉堡市. 汉堡是德国最大的港口城市和进出口口岸。</p><br />
<p style="color:grey; font-size:18px;line-height:24px;">我公司主要从事进出口贸易。自2010年开始从事欧洲奶 粉的直邮业务。
目前直邮业务涵盖了荷兰牛栏，美素、 德国爱他美，喜宝，特福芬等主流婴儿奶粉以及米糊，果泥等辅食和其他一些欧洲精品。</p><br />

<p style="color:grey; font-size:18px;line-height:24px;">我公司注重信誉，严格高效，以快捷完美的服务受到广大客户好评。
我公司于2010年7月登陆淘宝网，网店名为<a href="http://store.taobao.com/shop/view_shop-c729dc549d5fb017856bdf2b08a85e6a.htm">“捷曼妮码头”</a>。网店在短时间内即获得好评无数，收藏过万，赢得了大量的稳定的客户信任。
由于目前淘宝网店参差不齐，个别店家以次充好，以假乱真，严重影响淘宝信誉以及合法经营者的利益，因此我公司建立独立的销售网站。
客户可以直接登陆我公司的德国网站<%= link_to 'www.germany-time.de','http://www.germany-time.de' %>，也可以通过淘宝链接进入网站，浏览和购买商品，可以加入会员，积累积分，享受折扣优惠。
我公司将以快捷效率 和贴心完善的售后服务期待您的光临。</p>

</div>

