<div class="simple_content">
	<h2>付款日期：<%= @inputted_date %></h2>
	<br />
	<%= render 'shipping_list_table'%>

	<br /><br />


	<%= form_tag('/business/export_to_csv', :method => :get) do %>
	
	<br /><%= submit_tag "保存为文件" %> 

	<% end %>
</div>
