<% unless cart.line_items.empty? %>
<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="6">总计： </td>
    <td colspan="3" class="total_cell"><%= number_to_currency(cart.total_price, :unit=>"￥") %></td>
  </tr>
</table>
<br />

<%= button_to "结帐！", new_order_path, :method => :get%>
<%= button_to '清空购物车？', cart, :method => :delete,
  :confirm => '是否确定清空购物车？' %>

<% end %>
