<p>您好, <%= @resource.email %>!</p>

<p>通过以下链接您可以重置您的密码：</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Time international GmbH</p>
