

<div class="post">
	<%= image_tag product.photo.url(:thumb) %>
<div class="heading_box">
	<h5><%= product.title %></h5>
</div>
<div class="pub_date"><small><%= product.price %></small></div>
<p><%= product.intro %></p>

  