<% if line_item == @current_item %>
  <tr id = "current_item">
<% else %>
  <tr>
<% end %>
  <td><%= line_item.quantity %>&times; </td>
  <td colspan="5"><%= line_item.product.title %></td>
  <td colspan="3" class="item_price"><%= number_to_currency(line_item.price,:unit=>"￥") %>
  </td>
</tr>

