<h3>设置折扣：</h3>
<hr />

<table>
	<tr>
		<th>折扣列表：</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>会员等级</td>
		<td>折扣</td>
	</tr>
	<% @discount_details.each do |discount_detail| %>

	<tr>
		<td><%= discount_detail.id %>星会员</td>
		<td><%= discount_detail.discount_rate %></td>
		<td><%= link_to 'Edit', edit_discount_detail_path(discount_detail) %></td>
	</tr>
	<% end %>
</table>
<br />

