<p id="notice"><%= notice %></p>

<p>
  <b>Discount rate:</b>
  <%= @discount_detail.discount_rate %>
</p>


<%= link_to 'Edit', edit_discount_detail_path(@discount_detail) %> |
<%= link_to 'Back', discount_details_path %>
